<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.goods.dao.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.goods.dao.entity.Brand">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_char" jdbcType="VARCHAR" property="firstChar" />
  </resultMap>

  <select id="selectByMap" parameterType="map" resultMap="BaseResultMap">
      select * from tb_brand
      <include refid="selectSql" />
      <if test="ORDERBY != null and ORDERBY != ''">
        ORDER BY ${ORDERBY}
      </if>
      <if test="ORDER != null and ORDER != ''">
        ${ORDER}
      </if>
      <if test="limit != null">
        LIMIT #{limit}
      </if>
      <if test="start != null">
        OFFSET #{start}
      </if>
  </select>

  <sql id="selectSql">
    <where>
      <trim prefixOverrides="AND">
        <if test="name != null and name != ''">
          AND name LIKE '%${name}%'
        </if>
        <if test="firstChar != null and firstChar != ''">
          AND first_char = #{firstChar}
        </if>
      </trim>
    </where>
  </sql>

    <select id="selectOptionList" resultType="java.util.Map">
        select id,name as text from tb_brand
    </select>
</mapper>