<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.goods.dao.mapper.ItemCatMapper" >
  <resultMap id="BaseResultMap" type="com.pinyougou.goods.dao.entity.ItemCat" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
  </resultMap>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from tb_item_cat where id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
    <!--<foreach collection="list" item="item"  separator=";">-->
      <!--delete from tb_item_cat where id = #{item}-->
    <!--</foreach>-->
  </delete>

</mapper>