<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.goods.dao.mapper.SpecificationMapper">
  <resultMap id="BaseResultMap" type="com.pinyougou.goods.dao.entity.Specification">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spec_name" jdbcType="VARCHAR" property="specName" />
  </resultMap>

  <delete id="batchDelete" parameterType="list" >
    delete from tb_specification
    where id in
      <foreach collection="list" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  </delete>
</mapper>